body {
  margin: 0;
}

p {
  color: white;
  font-size: 4rem;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  height: 100vh;
  border: 10px solid red;
  background-image: url('tropics.jpg');
  background-size: cover;
}
