div {
  padding: 15px;
  overflow: auto;
  border: 2px red solid;
  margin: 1rem;
}

img {
  border: 2px red solid;
}

.left {
  float: left;
  margin-right: 15px;
}

.right {
  float: right;
  margin-left: 15px;
}
