section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div {
  border: 1px black solid;
  font-weight: bold;
  font-size: 24px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.two {
  flex-wrap: nowrap;
}

.three {
  flex-wrap: nowrap;
}

.red {
  width: 100%;
  background-color: orangered;
}

.cyan {
  width: 60%;
  background-color: lightblue;
}

.lightgreen {
  width: 40%;
  background-color: palegreen;
}

.yellow {
  width: 45%;
  background-color: yellow;
}

.purple {
  width: 55%;
  background-color: rgb(132, 119, 218);
}
