li {
  color: #99aab5;
}

#otheritem {
  color: blue;
}

.listitem {
  font-weight: bold;
  color: green;
}

a:link {
  color: green;
}

a:visited {
  color: red;
  font-weight: bold;
}

a:hover {
  color: purple;
  font-style: italic;
}

a:active {
  color: yellow;
  font-size: 2rem;
}

li:first-child {
  color: blue;
  text-decoration: underline;
  font-size: 1.5rem;
}

li:last-child {
  color: black;
}

li:nth-child(even) {
  color: purple;
}

li:nth-child(odd) {
  color: rgb(196, 132, 13);
}

li:nth-child(4n) {
  font-weight: bold;
}

li:only-child {
  font-size: 2rem;
}

li:nth-child(3n-1) {
  font-style: italic;
  font-size: 1.2rem;
}
